// FILES GO HERE ----------------------------------------------------------------
@import './Normalize.sass'
@import './Variables.sass'

// FONTS GO HERE ----------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap')
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

//

.title1,
.title2,
.title3
    font-family: 'Raleway', sans-serif
    text-align: center
    margin-bottom: 90px
// PAGE WRAPPERS
.wrapper
    font-family: $main-font

html
    font-family: $btn-font

// CONTAINERS GO HERE ----------------------------------------------------------------
.container
    display: grid
    grid-template-columns: repeat(11, 1fr)
    grid-gap: 10px
    text-align: center
.container__story--0
    grid-column: 2/5
.container__story--1
    grid-column: 5/8
.container__story--2
    grid-column: 8/11
.container__map
    height: 400px
    width: 100%
// BACKGROUNDS GO HERE ----------------------------------------------------------------
.dark-bg-gradient
    height: 100vh
    color: $light-font-colour
    background-image: linear-gradient(to bottom, $bg-primary-colour, $bg-secondary-colour)
    &--rectangle
        height: 100px
        width: 200px
        background-image: linear-gradient(to bottom, $bg-primary-colour, $bg-secondary-colour)

// BUTTONS GO HERE ----------------------------------------------------------------
.button
    width: $btn-width
    height: $btn-height
    border-radius: $btn-border-radius
    font-family: $btn-font
    text-align: center
    display: inline-block
    border: none
    color: $btn-font-colour
    text-transform: uppercase
    font-weight: $btn-font-weight
    cursor: $btn-cursor
    &--search
        background-color: $search-btn-color
        font-family: $font-awesome
        width: $searchbar-height
        margin-left: -$searchbar-height
        align-self: center
        align-items: center

    &--accept
        background-color: $accept-btn-color

// NAVBAR
.logo
    width: $width-height
    height: $width-height
    margin-left: $width-height/2

// SEARCHBAR
.searchbar
    text-align: center
    height: fit-content

    &__input
        width: $searchbar-width
        height: $searchbar-height
        font-family: $btn-font
        border-radius: $btn-border-radius
        border: 1px solid gray
        padding: 0 0 0 $small-padding
        right: 0%

// PROJECT CARDS
.container__projects
    padding: 25px
    max-width: 55%
.project-card
    display: flex
    flex-direction: column
    justify-content: center
    border: 1px solid #ebebeb
    list-style-type: none
    padding: 20px
    margin: 20px auto
    border-radius: 5px
    box-shadow: 5px 6px 10px -10px rgba(64,60,60,0.75)

.project-card__category
    font-family: $btn-font
    font-weight: bold

.project-card__title
    font-family: $btn-font
    font-size: 26px
    font-weight: medium

.project-card__icon-info-outer-wrap
    display: flex
    flex-direction: row

.project-card__icon-info-individual-wrap
    display: flex
    flex-direction: column
    padding: 20px
    font-family: $btn-font
    width: 80px

.project-card__svg
    widht: 30px
// DETAILS PAGE

// IMAGE AND DETAILS
.container__banner
    height: 87vh
    background-image: linear-gradient(to bottom, $bg-primary-colour, $bg-secondary-colour)

.project-card__svg--white
    filter: invert(100%)

.project-short-summary
    display: flex
    justify-content: center
    width: 100vw
    color: white

.project-title-cat
    width: 30vw
    margin: 30px 10px 0 0
    display: flex
    flex-direction: column

.project-bulletpoints
    display: flex
    flex-direction: column
    width: 30vw
    margin: 30px 0 0 0

.project-bulletpoints__tagline
    font-size: 1.2em

.project-title-cat__category
    font-size: 1.2em
    text-transform: uppercase
    margin: 0 0 5px 0

.project-title-cat__title
    font-size: 1.7em
    font-weight: 600

// PROJECT SUMMARY

.project-long-summary
    display: flex
    flex-direction: column
    justify-content: center

.organisers,
.what
    display: flex
    justify-content: center
    width: 100vw
    align-content: center

.organisers__title,
.what__title
    width: 20vw
    margin: 30px 10px 0 0
    font-size: 1.6em

.organisers__text,
.what__text
    width: 40vw
    margin: 30px 0 0 0
    font-size: 1.15em

.organisers__text
    display: flex
    flex-direction: column

.organisers__socialmedia
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-bottom: 20px

.organisers__socialmedia--name

.organisers__socialmedia--logos
    align-items: center

.organisers__contact
    padding: 30px 0 30px 0
    display: flex
    justify-content: space-between
    flex-direction: row

.organisers__contact *
    width: 170px

// DETAILS IMAGES

.project-image-flex
    display: flex
    height: 50vh
    max-height: 450px
    justify-content: center
    padding-top: 40px

.project-image-flex img
    height: 100%
    object-fit: cover

.project-image-flex__small-photos
    display: flex
    height: 100%
    flex-direction: column

.project-image-flex__small-photos img
    height: 50%

// OTHERS
.line
    margin-top: 20px
    margin-bottom: 20px
    border: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))
    &--dark
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
.word
    margin-left: 10%
#map
    height: 100vh
    width: 600px
    margin-top: -160px
    padding-bottom: 20px
    margin-left: 60%
    margin-right: 0px
    padding-right: 0px
    right: 0
    position: fixed
    z-index: 100

.navbar-flexbox
    display: flex;
    width: fit-content
    padding-top: 18px;
    padding-left: 2em;

.searchbar-container__results-and-details
    display: flex;
    width: fit-content
    padding-top: 18px;
    padding-left: 2em;

// MEDIA_QUERIES GO HERE ----------------------------------------------------------------
@media screen and (max-width: 480px)
    .container
        display: block
    #map
        display: block
        margin: 0 auto
        width: 100%
        height: 200px
        padding-left: 0px
    .container__projects
        margin: 0px 0px
        padding: 0px 0px
    ul,
    li,
    a
        text-decoration:none
        list-style:none