// FONTS
$btn-font: 'Quicksand', sans-serif
// COLOURS
$bg-primary-colour: #454545
$bg-secondary-colour: #121212
$search-btn-color: #FF5A5F
$accept-btn-color: #008489
$btn-font-colour: #FFFFFF
// BUTTONS
$btn-border-radius: 5px
$btn-width: 100px
$btn-height: 50px
$btn-font-weight: 400
$btn-margin: 10px
